.starredColor {
  color: yellow;
}

.starredTicketBtn {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.starredTicketHeading {
  font-size: 16px;
  font-weight: 500;
  width: 120px;
}

.tableCell {
  padding: 1%;
}

.leftSpacing {
  margin-left: 20px;
}

.tableWidth {
  width: "92px";
}

.iconSpacing {
  margin-left: -12px;
}

.labelPadding {
  padding: 0;
}

.textAlignments {
  text-align: left;
}

.tableHeader {
  align-items: center;
  display: flex;
  width: 200px;
}
